@page
@model InventoryManagementGrid.Index.IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="MainCont">

    @await Component.InvokeAsync("LSModel")

    <div class="MainleftDiv">
        <component type=""/>
    </div>
    <div class="MainMidDiv">
        <form method="post">
            <input id="inpstring" asp-for="Inpstring" type="text" name="Inpstring" />
            <input type="submit" value="Submit" onclick=@Model.Dothing() />
        </form>
        @foreach (var VAL in Model.TList)
        {
            <p>@VAL.test_var</p>
        }
        <h2>@Model.Inpstring</h2>


    </div>
    <div class="MainRightDiv">

    </div>
</div>
