@page
@model InventoryManagementGrid.Index.IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="MainCont">

    <div class="MainleftDiv">
        @*@await Html.PartialAsync("~/Pages/LeftSide/LeftSide.cshtml", )*@
        <partial name="~/Pages/LeftSide/LeftSide.cshtml" model="Model"/>
    </div>
    <div class="MainMidDiv">
        @*<form method="post">
            <input id="inpstring" asp-for="Inpstring" type="text" name="Inpstring" />
            <input type="submit" value="Submit" onclick=@Model.Dothing() />
        </form>
        @foreach (var VAL in Model.TList)
        {
            <p>@VAL.test_var</p>
        }*@
        <div class="GridPerimeter">
            <div class="GridCont" style="grid-template-columns:@Model.ColumnStrings;">
                @for (int inx = 0; inx < Model.TMPD; inx++)
                {
                    <partial name="~/Pages/Square/Square.cshtml" model="Model.Grid[inx]" />
                }
            </div>
        </div>
        

    </div>
    <div class="MainRightDiv">

    </div>
</div>
