

<h3>TestComp</h3>

<form>
    <input id="inpstring" asp-for="Inpstring" type="text" name="Inpstring"/>
    <button name="button" type="submit" value="Submit" @onclick="Dothing"/>
</form>

@code {

}
