body,html {
    border-style: solid solid solid solid;
    border-width: 1px;
    width: 100%;
    height: 100%;
}

div {
    border-style: solid solid solid solid;
    border-width: 1px;
    width: 100%;
    height: 100%;
}

.MainCont {
    display: flex;
    flex-wrap: wrap;
}

.MainleftDiv {
    height: 100%;
    width: 20%;
}

.MainMidDiv {
    height: 100%;
    width: 60%;
}

.MainRightDiv {
    height: 100%;
    width: 20%;
}
