@model InventoryManagementGrid.Index.IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div>
    <form>
        <input id="inpstring" asp-for="Inpstring" type="text" name="Inpstring" />
        <button name="button" type="submit" value="Submit" asp-action="Dothing" />
    </form>
</div>

@*onclick=@Model.Dothing()*@
