@model InventoryManagementGrid.Index.IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div>
    @*<form method="post">
            <input id="inpstring" asp-for="Inpstring" type="text" name="Inpstring" />
            <button type="submit" value="Submit" onclick="Dothing"/>
    </form>*@
</div>
